@model IEnumerable<PassItem>
@{
    ViewBag.Title = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.Uri)</th>
                <th>@Html.DisplayNameFor(model => model.Password)</th>
                <th>@Html.DisplayNameFor(model => model.Created)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div>
                            <button type="button" class="btn btn-outline-info btn-show-modal-details" data-toggle="modal" data-itemId="@item.Id" data-target="#myModal">
                                @item.Name
                            </button>
                        </div>
                    </td>

                    <td>
                        <div class="btn-copy">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </div>
                    </td>

                    <td>
                        <a class="" href="@item.Uri">@item.Uri</a>
                    </td>

                    <td>
                        <div class="PasswordCopyToClipboardById btn-copy-link" data-itemId="@item.Id" title="Copy to clickboard">
                            ************
                        </div>
                    </td>

                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleName">Modal title</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a id="modalPassItemEdit">Edit</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a id="modalPassItemDelete">Delete</a>
                    </li>
                </ol>
            </nav>

            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">
                        @Html.DisplayNameFor(model => model.Name):
                    </label>

                    <div class="col-sm-10">
                        <div id="modalPassItemName" class="btn-copy">
                            <!--Name-->
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.UserName):</label>
                    <div class="col-sm-10">
                        <div id="modalPassItemUserName" class="btn-copy">
                            <!--UserName-->
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Password):</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <!--Password-->
                            <div id="modalPassItemPassword" class="PasswordCopyToClipboardById form-control btn-copy-link">
                                ************
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Uri):</label>
                    <div class="col-sm-10">
                        <a id="modalPassItemUri" target="_blank" rel="noopener noreferrer" href="#">
                            <!--Uri-->
                        </a>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Created):</label>
                    <div class="col-sm-10">
                        <div id="modalPassItemCreated" class="btn-copy">
                            <!--Created-->
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Modified):</label>
                    <div class="col-sm-10">
                        <div id="modalPassItemModified" class="btn-copy">
                            <!--Modified-->
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Description):</label>
                    <div class="col-sm-10">
                        <!--<div id="modalPassItemDescription" class="btn-copy form-control" readonly>
                        </div>-->
                        <!--Description-->

                        <ul id="modalPassItemDescription" class="list-group list-group-flush">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts
{
       <script type="text/javascript" src="@Url.Content("/js/PassItems/PassItems.Index.js")"></script>
}
